* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body {
    overflow-x: hidden;
}

header {
    height: 100px;
    background-color: #000;
}

.container {
    display: flex;
    align-items: center;
    max-width: 1080px;
    height: 100px;
    margin: auto;
}

.logoArea {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.logoImg {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #b28756;
}
.menu-mobile {
    display: none;
}

.menu {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-left: -100px;
    align-items: center;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li a {
    display: flex;
    align-items: center;
    height: 100px;
    text-decoration: none;
    font-weight: 600;
    margin-right: 20px;
    color: #fff;
    border-bottom: 5px solid black;
}

.menu ul li a:hover,
.menu .active a {
    border-bottom: 5px solid #b28756;
    color: #ccc;
}

.banner {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: bottom;
    background-color: #333;
    height: calc(100vh - 100px);
    overflow: hidden;
}

.banner .slideArea {
    width: 310vw;
    height: 100%;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0,0,0,0.8);
}

.banner .conteudoSlide1 {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #fff;
}

.banner .conteudoSlide1 h1 {
    font-size: 45px;
}

.banner .conteudoSlide1 h2 {
    margin: 10px;
    font-size: 20px;
}

.banner .conteudoSlide1 span {
    color:#b28756;
}

.button {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    background-color: #b28756;
    padding: 10px 20px;
    border-radius: 15px;
    margin-top: 15px;
}

.button:hover {
    background-color: #7a552a;
}

.banner .pointerArea {
    height: 20px;
    width: 100vw;
    position: absolute;
    top: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer {
    width: 13px;
    height: 13px;
    border: 2px solid #b28756;
    border-radius: 7px;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
}

.banner .pointer.active {
    background-color: #b28756;
}

.default {
    padding: 50px 0;
}

.default > h2,
.default > p {
    text-align: center;
    text-transform: uppercase;
}

.default h2 {
    font-size: 22px;
    font-weight: 700;
}

.default > p {
    color: #999;
    font-weight: 700;
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.default-body {
    max-width: 1080px;
    margin: auto;
}

.default.light {
    background-color: #eee;
    color: #000;
}

.default.dark {
    background-color: #000;
    color: #fff;
}



/*Areas específicas*/

.aboutus-area {
    display: flex;
}
.aboutus-left {
    flex: 1;
}
.aboutus-left p {
    font-size: 16px;
    line-height: 25px;
    max-width: 580px;
    text-align: justify;
}
.aboutus-right {
    width: 450px;
}
.aboutus-right img {
    width: 100%;
}


.services-area {
    display: flex;
}
.service {
    flex: 1;
    text-align: center;
    padding: 20px;
    border-right: 1px solid #888;
}
.service:first-child {
    border-left: 1px solid #888;
}
.service img {
    width: 40px;
}
.service h4 {
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 25px;
}
.service p {
    font-size: 14px;
    color: #888;
    margin-top: 5px;
    line-height: 20px;
}




.projects-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-area .menu-option {
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 22px;
    display: inline-block;
    padding: 0 20px;
}

.projects-area .menu-option ul {
    list-style: none;
}

.projects-area .menu-option ul li {
    text-transform: uppercase;
    color: #888;
    padding: 15px;
    border-left: 1px solid #ddd;
    border-bottom: 3px solid #eee;
    display: inline-block;
}

.projects-area .menu-option ul li:hover,
.projects-area .menu-option ul li.active
{
    border-bottom: 3px solid #b28756;
}

.projects-area .menu-option ul li:first-child {
    border-left: none;
}

.projects-area .photo-area {
    margin-top: 20px;
    width: 100vw;
    max-width: 1080px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.photo-area-single {
    width: 270px;
}
.photo-area-single .photo {
    width: 250px;
    height: 150px;
    margin: 10px;
}
.photo-area-single .photo:hover .photo-info {
    display: flex;
}

.photo img {
    width: inherit;
    height: inherit;
}
.photo .photo-info {
    width: inherit;
    height: inherit;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.photo .photo-info h5 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
.photo .photo-info p {
    text-align: center;
    margin-top: 5px;
    font-size: 12px;
    max-width: 230px;
    color: #ddd;
}



.team-opacity {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(0,0,0,0.8);
}

.team-bg {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 0;
}

.default .team-opacity > h2,
.default .team-opacity > p {
    text-align: center;
    text-transform: uppercase;
}

.default .team-opacity > h2 {
    font-size: 22px;
    font-weight: 700;
}

.default .team-opacity > p {
    color: #999;
    font-weight: 700;
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.team-area {
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}

.team-area .slideArea {
    width: 2700px;
    height: 100%;
}

.team-area .slide {
    width: 280px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: #fff;
    margin-right: 20px;
}

.team-area .conteudoSlide {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #000;
}

.team-area .pointerArea {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-area .pointer {
    width: 13px;
    height: 13px;
    border: 2px solid #b28756;
    border-radius: 7px;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
}

.team-area .pointer.active {
    background-color: #b28756;
}

.conteudoSlide {
    padding: 30px;
}

.conteudoSlide > img {
    width: 150px;
    height: auto;
}

.conteudoSlide h4 {
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 20px;
}

.conteudoSlide p {
    font-size: 12px;
    margin-top: 3px;
}

.conteudoSlide .social-media {
    display: flex;
    margin-top: 20px;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    margin-right: 5px;
}
.social-media a:hover {
    background-color: #b28756;
}



.clients-area {
    max-width: 650px;
    margin: auto;
    overflow: hidden;
}
.clients-area .slideArea {
    display: flex;
    width: 310vw;
    height: auto;
}
.clients-area .slide {
    width: 100vw;
    height: 100%;
}
.clients-area .conteudoSlide {
    max-width: 650px;
    text-align: center;
    padding: 0;
}
.clients-area .conteudoSlide h4 {
    font-weight: 700;
}
.clients-area .conteudoSlide img:first-child {
    width: 120px;
}
.clients-area .conteudoSlide img:nth-child(4) {
    width: 20px;
    margin-top: 20px;
}
.clients-area .client-comments p  {
    margin-top: 10px;
    line-height: 20px;
    color: #999;
}
.clients-area .pointerArea {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients-area .pointer {
    width: 13px;
    height: 13px;
    border: 2px solid #b28756;
    border-radius: 7px;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
}

.clients-area .pointer.active {
    background-color: #b28756;
}


.marcas {
    width: 100vw;
    background-color: #fff;
}
.clients-marcas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1080px;
    margin: auto;
}
.clients-marcas img {
    padding: 40px;
}



.price-area {
    display: flex;
    flex-wrap: wrap;
    width: inherit;
    height: 340px;
    padding: 0 20px;
}
.price-area .prices {
    background-color: #fff;
    flex: 1;
    margin-right: 25px;
    text-align: center;
    padding: 30px 40px;
}
.price-area .prices:last-child {
    margin-right: 0;
}
.price-area .prices h4 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}
.price-area .prices p {
    font-size: 12px;
}
.price-area .prices p:nth-child(2) {
    margin-top: 10px;
    font-size: 27px;
}
.price-area .prices p:nth-child(3) {
    color: #777;
    margin-bottom: 15px;
}
.price-area .prices .barra {
    width: 10px;
    height: 1px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #999;
}
.price-area .button {
    display: inline-block;
    background-color: #333;
    text-transform: uppercase;
    margin-top: 25px;
}
.price-area .button.active,
.price-area .button:hover {
   background-color: #b28756;
}



.default.light.white {
    background-color: #fff;
}
.premium-area {
    overflow: hidden;
    width: inherit;
    height:auto;
}
.premium-area .slide-area {
    overflow: hidden;
    display: flex;
    width: 310vw;
    height: auto;
}
.premium-area .slide {
    width: 1180px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.premium-area .div-left {
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.premium-area .div-left img {
    width: 300px;
}
.premium-area .div-right {
    width: 500px;
    height: 300px;
}
.premium-area .options {
    display: flex;
    flex-direction: column;
}
.premium-area .option-item {
    width: 500px;
    padding: 25px 0 5px 10px;
}
.premium-area .option-item img {
    width: 25px;
    margin-right: 15px;
}
.premium-area .option-item span {
    display: block;
    margin-top: -25px;
    margin-left: 44px;
    text-transform: uppercase;
    font-weight: 700;
}
.premium-area .option-item p {
    margin-left: 44px;
    font-size: 14px;
    color: #777;
}
.premium-area .option-item ul {
    margin-left: 61px;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 14px;
    color: #777;
}
.premium-area .pointerArea {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.premium-area .pointer {
    width: 13px;
    height: 13px;
    border: 2px solid #b28756;
    border-radius: 7px;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
}
.premium-area .pointer.active {
    background-color: #b28756;
}
.premium-area button {
    width: 100%;
    max-width: 1140px;
    border: 0;
    background-color: #fff;
}
.premium-area .button {
    display: inline-block;
    text-transform: uppercase;
}



.facts-area {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    max-width: 1000px;
}
.facts {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.facts p:first-child {
    font-size: 35px;
    font-weight: 700;
    color: #b28756;
}
.facts .barra {
    width: 15px;
    height: 3px;
    background-color: #999;
    margin-top: 10px;
}
.facts .desc-facts {
    width: 180px;
    height: 120px;
}
.facts h4 {
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 10px;
}
.facts .desc-facts p {
    font-size: 14px;
    color: #888;
    margin-top: 30px;
    line-height: 20px;
}
.facts:first-child p:last-child{
    margin-top: 10px;
}





.rede-social{
    width: 100vw;
    background-color: #fff;
}
.area-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1080px;
    margin: auto;
}
.area-social img {
    width: 70px;
    height: auto;
    padding: 30px 10px 30px 40px;
}
.area-social span {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
}



.contact-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 450px;
    height: 310px;
}
.contact-area form {
    width: inherit;
    height: 230px;
}
.contact-area .w50 {
    width: 47.7%;
    height: 30px;   
    border: 0;
    border-bottom: 2px solid #999;
    background-color: #eee;
    outline: 0;
}
.contact-area form .w50:first-child {
    margin-right: 8px;
}
.contact-area form .w50:nth-child(2){
    margin-left: 8px;
}   
.contact-area .w100 {
    width: 99.9%;
    height: 30px;
    border: 0;
    border-bottom: 2px solid #999;
    background-color: #eee;
    margin-top: 30px;
    outline: 0;
}
.contact-area .messagem {
    height:80px;
}
.contact-area input::placeholder{
    font-weight: 600;
    color: #999;
    position: absolute;
    left: 0;
    bottom: 8px;
}



.endereco-mapa {
    background-image: url(../images/mapa.jpg);
    background-size: cover;
    background-position: center;
    padding: 35px 0;
}
.endereco-mapa .conteudo-area {
    width: 100vw;
    max-width: 1080px;
    margin: auto;
}
.endereco-mapa .conteudo {
    width: 50%;
    padding: 50px 35px;
    background-color: #fff;
}
.conteudo-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.conteudo-info span {
    color: #999;
    font-weight: 600;
    font-size: 12px;
}
.conteudo-info-img {
    width: 30px;
    height: 30px;
    padding: 6px;
    border-radius: 15px;
    background-color: #999;
    margin-right: 15px;
}
.conteudo-info-img img {
    width: 18px;
    height: auto;
}


footer {
    background-color: #000;
    width: 100%;
    padding: 20px 0;
}
.footer-area {
    color: #888;
    width: 100vw;
    max-width: 1080px;
    margin: auto;
    display: flex;
}
.footer-area-conteudo {
    flex: 1;
    margin-right: 30px;
    height: 160px;
    padding:15px 0;
}
.footer-area-conteudo:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
    width: 260px;
    height: 150px;
    margin: 15px;
    padding-bottom: 0;
}
.footer-area-conteudo:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin-right: 0px;
    justify-content:space-between;
}
.footer-area-conteudo input {
    background-color: #333;
    border: 0;
    border-bottom: 2px solid #999;
    padding-bottom: 10px;
    outline: 0;
    color: #999;
}
.footer-area input::placeholder {
    text-transform: uppercase;
    color: #999;
    text-align: center;
}
.footer-area-conteudo .social-media {
    display: flex;
    justify-content: center;
}
.footer-area-conteudo .social-media a {
    display: inline-flex;
    width: 25px;
    height: 25px;
    padding: 11px;
    background-color: #888;
    border-radius: 13px;
}
.footer-area-conteudo .social-media img {
    width: 14px;
    height: 14px;
}


@media (max-width: 1024px) {
    .logoArea {
        margin-left: 30px;
    }
    .aboutus-left p {
        margin-left: 20px;
        margin-right: 20px;
    }
    .aboutus-right {
        width: 40%;
        margin-right: 20px;
    }
    .aboutus-area .button {
        margin-left: 20px;
    }
    .footer-area {
        padding-left: 15px;
    }
}


@media (max-width: 900px) {
    
    .logoImg {
        width: 70px;
        height: 70px;
        border-radius: 35px;
    }
    nav {
        display: none;
        position: absolute;
        top: 100px;
        right: 0;
        width: 60%;
        height: calc(100vh - 100px);
        background-color: rgba(0,0,0,0.9);
    }
    nav ul {
        flex-direction: column;
    }
    .menu ul li a {
        border: 0;
        font-weight: 700;
        font-size: 30px;
        margin-left: 55px;
        text-transform: uppercase;
    }
    .menu {
        justify-content: flex-end;
        margin-right: 70px;
    }
    .menu-mobile {
        display: block;
        width: 40px;
        height: auto;
    }
    .menu .active a {
        border: none;
        color: #b28756;
    }     

    .aboutus-area {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .aboutus-left {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .aboutus-left p {
        width: 100%;
        font-size: 22px;
        line-height: 35px;
    }
    .aboutus-left a {
        display: inline-block;
        margin-bottom: 40px;
    }
    .aboutus-right {
       display: flex;
       justify-content: center;
       width: 50%;
    }
   

    .services-area {
        flex-wrap: wrap;
    }
    .service {
        min-width: 300px;
        padding: 27px;
    }
    .service:first-child {
        border-left: none;
    }
    .team-area {
        max-width: 580px;
    }




    .price-area {
        height: auto;
        justify-content: center;
        align-items: center;
    }
    .price-area .prices {
        flex: none;
        min-width: 300px;
        margin-right: 0;
        margin: 0;
        margin: 25px;
    }
    .price-area .prices:last-child {
        margin: 25px;
    }
    .premium-area .slide {
        flex-direction: column;
    }
   .facts-area .facts {
     min-width: 300px;
   }



   .endereco-mapa .conteudo {
    margin-left: 20px;
   }


   .footer-area {
    flex-wrap: wrap;
    }
    .footer-area-conteudo {
        min-width: 300px;
        margin-right: 0;
        margin: 50px;
    }
    .footer-area-conteudo:last-child {
        max-width: 500px;
        margin: auto;
   }
}


@media (max-width: 768px) {
    .footer-area-conteudo:last-child {
        max-width: 300px;
   }
}

@media (max-width: 450px) {
   
    .menu {
        margin-right: 30px;
}
    .banner .conteudoSlide1 h1 {
        font-size: 31px;
    }
    .banner .conteudoSlide1 h2 {
        font-size: 15px;
    }
    .button {
        font-size: 12px;
    }
    .aboutus-left p {
        font-size: 20px;
        line-height: 30px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .service {
        min-width: none;
        max-width: 100px;
        margin: auto;
        border: none;
    }
    .photo-area-single {
        width: 100%;
    }
    .photo-area-single .photo {
        width: 300px;
        height: 170px;
        margin: auto;
        margin-bottom: 20px;
    }
    .team-area {
        max-width: 280px;
    }
    .clients-area .client-comments p {
        max-width: 250px;
        margin: auto;
    }
    .premium-area {
        width:100vw;
        height: auto;
    }
    .premium-area .slide-area {
        overflow: hidden;
        width: 300px;
        margin: auto;
    }
    .premium-area .slide {
        max-width: 300px;
    }
    .premium-area .div-left {
        width: auto;
    }
    .premium-area .div-left img {
        width: 180px;
    }
    .premium-area .option-item {
        width: 280px;
        margin: auto;
        padding-left: 0;
    }
    .contact-area {
        width: 100%;
        height: auto;
    }
    .contact-area form {
        width: auto;
    }
    .contact-area .w50 {
        width: auto;
    }
    .footer-area-conteudo {
        flex-direction: column;
        min-width: 200px;
    }
   
    .footer-area p {
        max-width: 250px;

    }
}