* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    height: 100Vh;
}
.header-superior {
    height: 50px;
    background-color: red;
}
.header-banner {
    width: 100%;
    height: inherit;
    overflow: hidden;
}
.sliders-area {
    /*width: calc(100vw * 3);*/
    height: 100%;
    display: flex;
    transition: all ease 0.3s;
    margin-left: -000vw;
}
.slider-item {
    width: 100vw;
    height: inherit;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #fff;
}
.sliders-controls {
    position: absolute;
    z-index: 999;
    width: 100%;
    /*height: calc(100% - 50px);*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider-control {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    font-weight: bold;
}