@keyframes pisca {
    0% {opacity: 0.2;}
    50% {opacity: 1;}
    100% {opacity: 0.2;}
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    justify-content: center;
}
.urna {
    padding: 30px;
    background-color: #C6C1AE;
    display: flex;
}
.tela {
    width: 500px;
    height: 300px;
    background-color: #fff;
    border: 1px solid #6B5C5E;
    margin: 40px 0 30px 0;
    display: flex;
    flex-direction: column;
}
.divisao-1 {
    flex: 1;
    display: flex;
    padding-left: 5px;
}
.divisao-1-left {
    flex: 1;
}
.seuvotopara {
    height: 40px;
    line-height: 40px;
    font-size: 15px;
}
.cargo {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
}
.numeros {
    display: flex;
    align-items: center;
    line-height: 50px;
}
.numeros span {
    font-size: 15px;
}
.digito {
    width: 30px;
    height: 35px;
    border: 1px solid #000;
    margin-left: 3px;
    font-size: 25px;
    text-align: center;
    line-height: 35px;
}
.pisca {
    animation-name: pisca;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.divisao-1-right {
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.foto-candidato {
    border: 1px solid #000;
    font-size: 15px;
    text-align: center;
    margin-top: 3px;
}
.foto-candidato.small {
    width: 90%;
    font-size: 13px;
}
.foto-candidato img {
    width: 100%;
}
.divisao-2 {
    height: 60px;
    border-top: 2px solid #000;
    font-size: 14px;
    padding:2px 0 0 5px;
}

.descricao {
    flex: 1;
    line-height: 30px;
    font-size: 15px;
}
.teclado {
    margin-left: 30px;
    border: 1px solid #6B5C5E;;
}
.teclado--parte-1 {
    background-color: #F0EDE4;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.parte-1-logo {
    width: 60px;
    height: 60px;
    background-color: #483F40;
    border-radius: 30px;
}
.teclado--parte-1 span {
    font-size: 25px;
    color: #483F40;
    font-weight: bold;
    text-align: end;
}
.teclado--parte-2 {
    background-color: #483F40;
    padding: 10px;
}
.teclado--linha {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.teclado--linha:last-child {
    padding-top: 9px;
    padding-bottom: 19px;
}
.botao {
    width: 40px;
    height: 30px;
    line-height: 30px;
    background-color:#282423;
    color: #F0EDE4;
    font-size: 22px;
    margin: 8px;
    text-align: center;
    box-shadow: 2px 3px 2px #000;
}
.branco {
    background-color: #fff;
    color: #6B5C5E;
    width: 58px;
    height: 35px;
    font-size: 12px;
    line-height: 35px;
}
.corrige {
    background-color: #FF9853;
    color: #6B5C5E;
    width: 58px;
    height: 35px;
    font-size: 12px;
    line-height: 35px;
}
.confirma {
    background-color: #47BF78;
    color: #6B5C5E;
    width: 67px;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
}

.aviso--grande {
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
}
.aviso--branco {
    font-size: 30px;
    font-weight: bold;
    margin-top: 65px;
    text-align: center;
}
.aviso--pequeno {
    color: red;
}
.aviso--pequeno--corrige span {
    color: #FF9853;
    font-weight: bold;
} 
.aviso--gigante {
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    margin: auto;
}