* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body {
    overflow-x: hidden;
}

header {
    height: 100px;
    background-color: #000;
}

.container {
    display: flex;
    align-items: center;
    max-width: 1140px;
    height: 100px;
    margin: auto;
}

.logoArea {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.logoImg {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #b28756;
}

.menu {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li a {
    display: flex;
    align-items: center;
    height: 100px;
    text-decoration: none;
    font-weight: 600;
    margin-right: 20px;
    color: #fff;
    border-bottom: 5px solid black;
}

.menu ul li a:hover,
.menu .active a {
    border-bottom: 5px solid #b28756;
    color: #ccc;
}

.banner {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: bottom;
    background-color: #333;
    height: calc(100vh - 100px);
    overflow: hidden;
}

.banner .slideArea {
    width: 310vw;
    height: 100%;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0,0,0,0.8);
}

.banner .conteudoSlide1 {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #fff;
}

.banner .conteudoSlide1 h1 {
    font-size: 45px;
}

.banner .conteudoSlide1 h2 {
    margin: 10px;
    font-size: 20px;
}

.banner .conteudoSlide1 span {
    color:#b28756;
}

.button {
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    background-color: #b28756;
    padding: 10px 20px;
    border-radius: 15px;
    margin-top: 15px;
}

.button:hover {
    background-color: #7a552a;
}

.banner .pointerArea {
    height: 20px;
    width: 100vw;
    position: absolute;
    top: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer {
    width: 13px;
    height: 13px;
    border: 2px solid #b28756;
    border-radius: 7px;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
}

.banner .pointer.active {
    background-color: #b28756;
}

.default {
    padding: 50px 0;
}

.default > h2,
.default > p {
    text-align: center;
    text-transform: uppercase;
}

.default h2 {
    font-size: 22px;
    font-weight: 700;
}

.default > p {
    color: #999;
    font-weight: 700;
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.default-body {
    max-width: 1140px;
    margin: auto;
}

.default.light {
    background-color: #eee;
    color: #000;
}

.default.dark {
    background-color: #000;
    color: #fff;
}



/*Areas específicas*/

.aboutus-area {
    display: flex;
}
.aboutus-left {
    flex: 1;
}
.aboutus-left p {
    font-size: 16px;
    line-height: 25px;
    max-width: 600px;
    text-align: justify;
}
.aboutus-right {
    width: 470px;
}
.aboutus-right img {
    width: 100%;
}


.services-area {
    display: flex;
}
.service {
    flex: 1;
    text-align: center;
    padding: 20px;
    border-right: 1px solid #888;
}
.service:first-child {
    border-left: 1px solid #888;
}
.service img {
    width: 40px;
}
.service h4 {
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 25px;
}
.service p {
    font-size: 14px;
    color: #888;
    margin-top: 5px;
    line-height: 20px;
}




.projects-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-area .menu-option {
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 22px;
    display: inline-block;
    padding: 0 20px;
}

.projects-area .menu-option ul {
    list-style: none;
}

.projects-area .menu-option ul li {
    text-transform: uppercase;
    color: #888;
    padding: 15px;
    border-left: 1px solid #ddd;
    border-bottom: 3px solid #eee;
    display: inline-block;
}

.projects-area .menu-option ul li:hover,
.projects-area .menu-option ul li.active
{
    border-bottom: 3px solid #b28756;
}

.projects-area .menu-option ul li:first-child {
    border-left: none;
}

.projects-area .photo-area {
    margin-top: 20px;
    width: 100vw;
    max-width: 1140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.photo-area-single {
    width: 280px;
}
.photo-area-single .photo {
    width: 260px;
    height: 160px;
    margin: 10px;
}
.photo-area-single .photo:hover .photo-info {
    display: flex;
}

.photo img {
    width: inherit;
    height: inherit;
}
.photo .photo-info {
    width: inherit;
    height: inherit;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.photo .photo-info h5 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
.photo .photo-info p {
    text-align: center;
    margin-top: 5px;
    font-size: 12px;
    max-width: 230px;
    color: #ddd;
}



.team-opacity {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(0,0,0,0.8);
}

.team-bg {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 0;
}

.default .team-opacity > h2,
.default .team-opacity > p {
    text-align: center;
    text-transform: uppercase;
}

.default .team-opacity > h2 {
    font-size: 22px;
    font-weight: 700;
}

.default .team-opacity > p {
    color: #999;
    font-weight: 700;
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.team-area {
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}

.team-area .slideArea {
    width: 1200vw;
    height: 100%;
}

.team-area .slide {
    width: 280px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: #fff;
    margin-right: 20px;
}

.team-area .conteudoSlide {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #000;
}

.team-area .pointerArea {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-area .pointer {
    width: 13px;
    height: 13px;
    border: 2px solid #b28756;
    border-radius: 7px;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
}

.team-area .pointer.active {
    background-color: #b28756;
}

.conteudoSlide {
    padding: 30px;
}

.conteudoSlide > img {
    width: 150px;
    height: auto;
}

.conteudoSlide h4 {
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 20px;
}

.conteudoSlide p {
    font-size: 12px;
    margin-top: 3px;
}

.conteudoSlide .social-media {
    display: flex;
    margin-top: 20px;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    margin-right: 5px;
}
.social-media a:hover {
    background-color: #b28756;
}



.clients-area {
    max-width: 650px;
    margin: auto;
    overflow: hidden;
}
.clients-area .slideArea {
    display: flex;
    width: 310vw;
    height: auto;
}
.clients-area .slide {
    width: 100vw;
    height: 100%;
}
.clients-area .conteudoSlide {
    max-width: 650px;
    text-align: center;
    padding: 0;
}
.clients-area .conteudoSlide h4 {
    font-weight: 700;
}
.clients-area .conteudoSlide img:first-child {
    width: 120px;
}
.clients-area .conteudoSlide img:nth-child(4) {
    width: 20px;
    margin-top: 20px;
}
.clients-area .client-comments p  {
    margin-top: 10px;
    line-height: 20px;
    color: #999;
}
.clients-area .pointerArea {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients-area .pointer {
    width: 13px;
    height: 13px;
    border: 2px solid #b28756;
    border-radius: 7px;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
}

.clients-area .pointer.active {
    background-color: #b28756;
}


.marcas {
    width: 100vw;
    background-color: #fff;
}
.clients-marcas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1140px;
    margin: auto;
}
.clients-marcas img {
    padding: 40px;
}



.price-area {
    display: flex;
    width: inherit;
    height: 340px;
    padding: 0 20px;
}
.price-area .prices {
    background-color: #fff;
    flex: 1;
    margin-right: 25px;
    text-align: center;
    padding: 30px 40px;
}
.price-area .prices:last-child {
    margin-right: 0;
}
.price-area .prices h4 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}
.price-area .prices p {
    font-size: 12px;
}
.price-area .prices p:nth-child(2) {
    margin-top: 10px;
    font-size: 27px;
}
.price-area .prices p:nth-child(3) {
    color: #777;
    margin-bottom: 15px;
}
.price-area .prices .barra {
    width: 10px;
    height: 1px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #999;
}
.price-area .button {
    display: inline-block;
    background-color: #333;
    text-transform: uppercase;
    margin-top: 25px;
}
.price-area .button.active,
.price-area .button:hover {
   background-color: #b28756;
}



.default.light.white {
    background-color: #fff;
}
.premium-area {
    overflow: hidden;
    width: inherit;
    height:auto;
}
.premium-area .slide-area {
    display: flex;
    width: 310vw;
    height: auto;
}
.premium-area .slide {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.premium-area .div-left {
    flex: 1;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.premium-area .div-left img {
    width: 300px;
}
.premium-area .div-right {
    width: 840px;
    height: 300px;
}
.premium-area .options {
    display: flex;
    flex-direction: column;
}
.premium-area .option-item {
    width: 500px;
    padding: 25px 0 5px 10px;
}
.premium-area .option-item img {
    width: 25px;
    margin-right: 15px;
}
.premium-area .option-item span {
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
}
.premium-area .option-item p {
    margin-left: 44px;
    font-size: 14px;
    color: #777;
}
.premium-area .option-item ul {
    margin-left: 61px;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 14px;
    color: #777;
}
.premium-area .pointerArea {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.premium-area .pointer {
    width: 13px;
    height: 13px;
    border: 2px solid #b28756;
    border-radius: 7px;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
}
.premium-area .pointer.active {
    background-color: #b28756;
}
.premium-area button {
    width: 100%;
    max-width: 1140px;
    border: 0;
    background-color: #fff;
}
.premium-area .button {
    display: inline-block;
    text-transform: uppercase;
}
   